:root {
    --o-timeline-font-size: 14px;
}

.o-timeline {
    font-size: var(--o-timeline-font-size);
}

.o-timeline--horizontal {
    display: flex;
    justify-content: space-between;
    position: relative;
}