.o-scroll-list {
    overflow: hidden;
}

.o-scroll-list__cell {
    transition: all var(--duration, 2s) ease;
}

.o-scroll-flip-leave-to {
    opacity: 0;
    transform: translateY(-100%);
}

.o-scroll-flip-enter-from {
    opacity: 0;
    transform: translateY(100%);
}

.o-scroll-flip-leave-active {
    position: absolute;
}