.o-space {
  display: flex;
  &.o-space__vertical {
    flex-direction: column;
  }
  &.o-space__wrap {
    flex-wrap: wrap;
  }
  .o-space-cell {
    padding-bottom: var(--o-space-y-gap, 0);
    &:not(:last-child) {
      margin-right: var(--o-space-x-gap, 0);
    }
  }
}
