.o-ellipsis {
    overflow: hidden;
    &:not(.o-ellipsis__line) {
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
    &__line {
        display: -webkit-inline-box;
        -webkit-box-orient: vertical;
    }
}