:root {
    --o-tabs-active-color: var(--primary-color);
    --o-tabs-title-border: 1px solid #eee;
    --o-tabs-title-font-size: 14px;
    --o-tabs-title-padding: 0 10px;
    --o-tabs-title-cell-padding: 10px 0;
    --o-tabs-title-close-font-size: 12px;
    --o-tabs-title-close-margin-left: 10px;
    --o-tabs-title-close-color: #666;
    --o-tabs-line-height: 2px;
    --o-tabs-tab-padding: 10px;
    --o-tabs-tab-font-size: 14px;
    --o-tabs-card-title-background: #f5f5f5;
    --o-tabs-card-title-active-background: #fff;
    --o-tabs-card-title-cell-padding: 10px 15px;
    --o-tabs-card-title-padding: 0;
    --o-tabs-card-title-font-size: 13px;
    --o-tabs-card-title-color: #333;
    --o-tabs-title-vertical-padding: 10px 0;
    --o-tabs-title-vertical-cell-padding: 0 10px;
}

.o-tabs {
    overflow: hidden;
    &--title {
        font-size: var(--o-tabs-title-font-size);
        padding: var(--o-tabs-title-padding);
        cursor: default;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            border-bottom: var(--o-tabs-title-border);
            left: 0;
            width: 100%;
        }
        &--cell {
            transition: var(--o-tabs-durtation);
            padding: var(--o-tabs-title-cell-padding);
            display: flex;
            align-items: center;
            &--active {
                color: var(--o-tabs-active-color);
            }
            &:not(.o-tabs--title--cell--disabled):hover {
                color: var(--o-tabs-active-color);
            }
            &--disabled {
                opacity: .6;
                cursor: not-allowed;
            }
            &--close {
                font-size: var(--o-tabs-title-close-font-size);
                margin-left: var(--o-tabs-title-close-margin-left);
                cursor: pointer;
                color: var(--o-tabs-title-close-color);
                transition: var(--o-tabs-durtation);
                &:hover {
                    color: #fff;
                    background-color: var(--o-tabs-active-color);
                }
            }
        }
        .o-space {
            position: relative;
        }
    }
    &--content {
        white-space: nowrap;
        transition: var(--o-tabs-durtation);
    }
    &--tab {
        width: 100%;
        display: inline-block;
        padding: var(--o-tabs-tab-padding);
        font-size: var(--o-tabs-tab-font-size);
        box-sizing: border-box;
    }
    &--line {
        position: absolute;
        left: 0;
        bottom: 0;
        height: var(--o-tabs-line-height);
        width: 0;
        background-color: var(--o-tabs-active-color);
        transition: var(--o-tabs-durtation);
        transform: translateX(-50%);
        z-index: 1;
    }
    &--card {
        .o-tabs--title {
            color: var(--o-tabs-card-title-color);
            background-color: var(--o-tabs-card-title-background);
            font-size: var(--o-tabs-card-title-font-size);
            padding: var(--o-tabs-card-title-padding);
            &::after {
                border: 0;
            }
            .o-tabs--title--cell {
                padding: var(--o-tabs-card-title-cell-padding);
            }
            .o-tabs--title--cell--active {
                background-color: var(--o-tabs-card-title-active-background);
            }
        }
    }
    &--bottom {
        .o-tabs--title {
            &::after {
                bottom: initial;
                top: 0;
            }
        }
        .o-tabs--line {
            bottom: inherit;
            top: 0;
        }
    }
    &--left,
    &--right {
        display: flex;
        width: 100%;
        .o-tabs--wrapper {
            flex: 1;
            overflow: hidden;
        }
        .o-tabs--title {
            padding: var(--o-tabs-title-vertical-padding);
            &::after {
                bottom: initial;
                top: 0;
                right: 0;
                border-bottom: 0;
                height: 100%;
                border-right: var(--o-tabs-title-border);
                width: auto;
                left: initial
            }
            &--cell {
                padding: var(--o-tabs-title-vertical-cell-padding);
            }
        }
        .o-tabs--line {
            bottom: initial;
            left: initial;
            width: var(--o-tabs-line-height);
            right: 0;
            top: 0;
            transform: translateY(-50%);
        }
    }
    &--right {
        .o-tabs--title {
            &::after {
                right: initial;
                left: 0;
            }
        }
        .o-tabs--line {
            right: initial;
            left: 0;
        }
    }
}

.o-tabs-fade-enter-active,
.o-tabs-fade-leave-active {
    transition: opacity var(--o-tabs-durtation);
}

.o-tabs-fade-enter-from,
.o-tabs-fade-leave-to {
    opacity: 0;
}
