:root {
    --o-menu-padding-top-bottom: 15px;
    --o-menu-padding-left-right: 15px;
    --o-menu-font-size: 15px;
    --o-menu-max-width: 800px;
    --o-menu-item-min-width: 200px;
    --o-menu-active-color: #2080f0;
    --o-menu-arrow-color: #909399;
    --o-menu-hover-color: #ecf5ff;
    --o-menu-indent: 20px;
    --o-menu-color: #333;
}
.o-menu {
    max-width: var(--o-menu-max-width);
    transition: max-width .2s;
    overflow: hidden;
    font-size: var(--o-menu-font-size);
    line-height: 1em;
    &.o-menu__row {
        max-width: 100%;
        overflow: auto;
        > .o-menu-item {
            display: inline-block;
        }
    }
    &.o-menu__collapse {
        max-width: calc(1em + var(--o-menu-padding-left-right) * 2);
    }
    .o-collapse-item {
        &.o-menu-item__active > .o-collapse-item__title {
            color: var(--o-menu-active-color);
        }
    }
    .o-collapse-item__content {
        padding: 0;
        padding-left: var(--o-menu-indent);
    }
}
.o-menu-item {
    color: var(--o-menu-color);
    &__icon {
        width: 1em;
        display: inline-flex;
        height: 1em;
        font-size: 1em;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        line-height: 0;
        vertical-align: middle;
    }
    &__text {
        vertical-align: middle;
        display: inline-flex;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        transition: .2s;
    }
    .o-collapse-item__title-icon {
        font-size: 12px;
        color: var(--o-menu-arrow-color);
    }
    &__arrow {
        position: absolute;
        right: var(--o-menu-padding-left-right);
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 12px;
        color: var(--o-menu-arrow-color);
    }
    &-title,
    .o-collapse-item__title {
        position: relative;
        white-space: nowrap;
        padding: var(--o-menu-padding-top-bottom) var(--o-menu-padding-left-right);
        cursor: pointer;
        transition: color .2s, background-color .2s;
        border: 0;
        &:not(.o-menu-item__diabeld):hover {
            background-color: var(--o-menu-hover-color);
        }
        &.o-menu-item__active {
            color: var(--o-menu-active-color);
        }
    }
    &__diabled {
        opacity: .6;
        cursor: not-allowed;
    }
}
.o-menu-tooltip {
    font-size: var(--o-menu-font-size);
}
.o-menu-popover {
    > .o-popover-content {
        font-size: var(--o-menu-font-size);
        padding: 0;
        overflow: hidden;
        > .o-menu-item {
            min-width: var(--o-menu-item-min-width);
        }
    }
}
