:root {
    --primary-color: #2080f0;
    --primary-color--hover: #4098fc;
    --primary-color--active: #1060c9;
    --success-color: #36ad6a;
    --success-color--hover: #48c980;
    --success-color--active: #0c7a43;
    --warning-color: #f6ae2a;
    --warning-color--hover: #ffc04d;
    --warning-color--active: #c97c10;
    --danger-color: #e03838;
    --danger-color--hover: #f44d4d;
    --danger-color--active: #a61f1f;
}