:root {
    --o-omit-ellipsis-color: #ccc;
    --o-omit-ellipsis-font-size: 24px;
}

.o-omit {
    &-ellipsis {
        padding: .6em 0;
        font-size: var(--o-omit-ellipsis-font-size);
        color: var(--o-omit-ellipsis-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}