.o-popover {
  position: relative;
  outline: none;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  background-color: var(--o-popover-bg-color, #fff);
  color: var(--o-popover-color, #666);
  border-radius: 4px;
  font-size: 14px;
  &.o-popover__dark {
    --o-popover-bg-color: #000;
    --o-popover-color: #fff;
  }
  &-content {
    padding: 10px 15px;
  }
  .o-popover-arrow {
    z-index: 1;
    position: absolute;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    background-color: var(--o-popover-bg-color, #fff);
  }
}

[v-placement="top"] > .o-popover,
[v-placement="top-start"] > .o-popover
[v-placement="top-end"] > .o-popover {
    margin-bottom: 10px;
    transform-origin: bottom;
    > .o-popover-arrow {
        bottom: -3px;
        left: calc(50% - 3px);
    }
}

[v-placement="bottom"] > .o-popover,
[v-placement="bottom-start"] > .o-popover,
[v-placement="bottom-end"] > .o-popover {
    transform-origin: top;
    margin-top: 10px;
    > .o-popover-arrow {
        top: -3px;
        left: calc(50% - 3px);
    }
}
[v-placement="right"] > .o-popover,
[v-placement="right-start"] > .o-popover,
[v-placement="right-end"] > .o-popover {
    transform-origin: left;
    margin-left: 10px;
    > .o-popover-arrow {
        left: -3px;
        top: calc(50% - 3px);
    }
}
[v-placement="left"] > .o-popover,
[v-placement="left-start"] > .o-popover,
[v-placement="left-end"] > .o-popover {
    transform-origin: right;
    margin-right: 10px;
    > .o-popover-arrow {
        right: -3px;
        top: calc(50% - 3px);
    }
}
[v-placement="right-start"] > .o-popover,
[v-placement="left-start"] > .o-popover {
    .o-popover-arrow {
        top: 20%;
    }
}

[v-placement="right-end"] > .o-popover,
[v-placement="left-end"] > .o-popover {
    .o-popover-arrow {
        top: inherit;
        bottom: 20%;
    }
}

[v-placement="top-start"] > .o-popover,
[v-placement="bottom-start"] > .o-popover{
    > .o-popover-arrow {
        left: 20%;
    }
}

[v-placement="top-end"] > .o-popover,
[v-placement="bottom-end"] > .o-popover{
    > .o-popover-arrow {
        left: inherit;
        right: 20%;
    }
}

.popover-transition-enter-from,
.popover-transition-leave-to {
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  transform: scale(0.6);
}

.popover-transition-leave-from,
.popover-transition-enter-to {
  transition: transform 0.2s, opacity 0.2s;
  opacity: 1;
}
