@import '../style/var.scss';

:root {
    --o-data-pagination-font-size: 13px;
    --o-data-pagination-button-height: 30px;
    --o-data-pagination-input-height: 30px;
    --o-data-pagination-active-color: var(--primary-color);
}

.o-data-pagination {
    font-size: var(--o-data-pagination-font-size);

    &--pager {
        height: var(--o-data-pagination-button-height);
    }

    .o-data-pagination--jump-right,
    .o-data-pagination--jump-left {
        border: 0;
    }

    .o-data-pagination--total,
    .o-data-pagination--jumper {
        padding: 0 5px;
    }

    .o-data-pagination--jumper-input {
        height: var(--o-data-pagination-input-height);
        margin: 0 5px;
        padding: 5px 10px;
        outline: none;
        transition: border .2s;
        border-radius: 3px;
        width: 60px;
        text-align: center;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    &:not(.o-data-pagination__disabled) {
        .o-data-pagination--jumper-input:focus {
            border-color: var(--o-data-pagination-active-color);
        }
    }

    &.o-data-pagination__disabled {
        .o-data-pagination--jumper-input {
            opacity: .6;
            cursor: not-allowed;
        }
    }
}

.o-data-pagination-popover {
    --o-dropdown-font-size: var(--o-data-pagination-font-size);
    --o-dropdown-min-width: 70px;

    max-height: 200px;

    .o-popover-content {
        overflow: auto;
    }

    .o-dropdown-item {
        justify-content: center;
    }

    .o-dropdown-item__disabled {
        color: var(--o-data-pagination-active-color);
        opacity: 1;
    }
}