.o-image-preview {
    height: 100%;
    width: 100%;
    overflow: hidden;
    will-change: transform;
    &--core {
        height: 100%;
        width: 100%;
        &__transition {
            transition: .2s;
        }
    }
    &--wrapper,
    &--prev,
    &--next,
    &--replace {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &--live {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        &__tool {
            position: absolute;
            top: 10px;
            right: 15px;
            z-index: 2;
            color: rgb(9, 197, 119);
            display: flex;
            align-items: center;
            font-size: 13px;
            line-height: 13px;
            cursor: pointer;
            letter-spacing: 1px;
            > .o-badge-value {
                margin-right: 6px;
            }
            > b {
                color: #ccc;
                margin-right: 6px;
                font-weight: normal;
            }
            &.playing {
                animation: o-image-preview--live-animation 1s infinite;
            }
        }
    }
    &--image,
    &--live {
        height: calc(100% * var(--o-image-preview--scale, 1));
        vertical-align: middle;
        user-select: none;
        will-change: transform;
        @media (max-width: 800px) {
            width: calc(100% * var(--o-image-preview--scale, 1));
            height: auto;
        }
    }
    &--prev,
    &--next {
        position: absolute;
        top: 0;
    }
    &--replace {
        position: absolute;
        top: 0;
        left: 0;
    }
    &--prev {
        left: -100%;
    }
    &--next {
        right: -100%;
    }
    &:hover {
        .o-image-preview--cover {
            opacity: 1;
        }
        .o-image-preview--playing {
            bottom: 35px;
        }
    }
    &--playing {
        position: absolute;
        bottom: 15px;
        left: 15px;
        z-index: 10;
        transition: .2s;
        > img {
            height: 200px;
            width: 100px;
            border-radius: 4px 4px 0 0;
            object-fit: cover;
            vertical-align: middle;
        }
        .o-progress {
            --o-progress-duration: 0;
        }
        @media (max-width: 800px) {
            bottom: 35px;
        }
    }
    &--cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        pointer-events: none;
        opacity: 0;
        transition: opacity .2s;
        @media (max-width: 800px) {
            opacity: 1;
        }
        &__prev,
        &__next {
            position: absolute;
            top: 0;
            height: 100%;
            display: flex;
            align-items: center;
            > .o-icon {
                height: 50px;
                width: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                pointer-events: all;
                color: #fff;
                cursor: pointer;
                background-color: rgb(0 0 0 / 31%);
                &:hover {
                    background-color: rgb(0 0 0 / 80%);
                }
            }
        }
        &__prev {
            left: 5px;
        }
        &__next {
            right: 5px;
        }
        &__index {
            position: absolute;
            left: 15px;
            top: 10px;
            color: #ccc;
            font-size: 13px;
        }
        &__size {
            position: absolute;
            left: 15px;
            bottom: 10px;
            color: #fff;
            font-size: 12px;
        }
        &__tool {
            position: absolute;
            right: 15px;
            top: 10px;
            font-size: 20px;
            color: #ccc;
            .o-icon {
                pointer-events: all;
                cursor: pointer;
                &:hover {
                    color: #fff;
                }
            }
        }
        &__long-tool {
            position: absolute;
            left: 0;
            bottom: 30px;
            color: #ccc;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            > span {
                border-radius: 10px;
                padding: 5px 8px;
                background-color: rgba(0, 0, 0, .6);
                pointer-events: all;
                cursor: default;
                &:hover {
                    color: #fff;
                }
            }
            @media (max-width: 800px) {
                display: none;
            }
        }
    }
    &--box {
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        overflow: auto;
        overflow: overlay;
        scrollbar-width: none;
        scroll-behavior: smooth;
        position: relative;
        @media (max-width: 800px) {
            height: auto;
            width: 100%;
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &--longpicture-box {
        @media (min-width: 800px) {
            .o-image-preview--image,
            .o-image-preview--live {
                width: calc(800px * var(--o-image-preview--scale, 1));
                height: auto;
            }
        }
    }
    &--points {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        color: #fff;
        z-index: 3;
        font-size: 12px;
        pointer-events: none;
    }
    &--point {
        position: absolute;
        height: 5px;
        width: 5px;
        background-color: #fff;
        filter: drop-shadow(.5px 1px 2px #333);
        border-radius: 50%;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 1.5px;
            width: 20px;
            height: 2px;
            background-color: #fff;
        }
        > div {
            position: absolute;
            max-width: 200px;
            min-width: 50px;
            left: 20px;
            padding: 5px 10px;
            top: -13.5px;
            height: 16px;
            display: flex;
            align-items: center;
            white-space: nowrap;
            background-color: rgba(0, 0, 0, .3);
            border-radius: 15px;
            border: 2px solid #fff;
        }
        &.left {
            &::after {
                left: initial;
                right: 0;
            }
            > div {
                left: initial;
                right: 20px
            }
        }
    }
    &--point--box {
        border: 1px solid #fff;
        filter: drop-shadow(.5px 1px 2px #333);
        padding: 2px 4px;
        position: absolute;
    }
}

.o-image-preview--transition-enter-active,
.o-image-preview--transition-leave-active {
    transition: .35s;
}

.o-image-preview--transition-enter-from,
.o-image-preview--transition-leave-to {
    transform: scale(.85);
}

.o-image-preview--transition-leave-to {
    opacity: 0;
}

.o-image-preview--fade-enter-active,
.o-image-preview--fade-leave-active {
    transition: opacity .3s;
}

.o-image-preview--fade-enter-from,
.o-image-preview--fade-leave-to {
    opacity: 0;
}

@keyframes o-image-preview--live-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .3;
    }
    100% {
        opacity: 1;
    }
}